
.main-container{
    width: 95%;
    margin: auto;
    
    .restaurant_title_box h1{
       text-align: center;
    }

    section#plates{
        
       & .menu_box{
            flex-basis: 60%;
            background-color: $primary;
            padding: 20px;
            flex-wrap: wrap;
            background-image: url('../storage/images/pattern.png');
            background-size: cover;
            

            & .plate_card{
                flex-basis: calc((100% / 3) - 20px);
                margin: 10px;
                border: 1px solid black;
                background-color: white;
                padding: 10px;

                & h2{
                    color: $third;
                }

                & h3{
                    color: $primary;
                    font-size: $fontBig;
                    font-weight: $fontBold;
                }

                & .menu_img{
                    width: 200px
                }

                & .plate_description{
                    font-size: $fontReg;
                }
                

                & .type_tag{
                    font-size: $fontReg;
                    color: $primary;
                    padding: 8px 10px;
                    background-color: rgba(0, 108, 144, 0.2);
                    border: 2px solid $primary;
                    display: inline-block;
                    border-radius: 15px;
                    box-shadow: 4px 4px 4px rgba(0,0,0, 0.4);
                    margin: 4px 3px;
                }
            }
        }

       & .cart_box{
            flex-basis: 40%;
            background-color: $secondary;
            padding: 20px;

            & .cart_title{
                text-align: center;
                color: $primary;
                font-size: $fontBig;
                text-decoration: underline;
            }
            
       }


    }
}