header {
    padding: 10px 0px;
    
    nav {
        height: 80px;
        padding: 5px 0px;
        background-color: $primary;
        background-image: url('../storage/images/pattern.png');
        background-size: contain;
    

        & > div.container {
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    .nav_logo {
        height: 100%;

        & img {
            height: 100%;
        }
    }

    .nav_login {

         & li a {
         color: $secondary;  
         font-size: $fontBig; 
         text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
         align-items: center;
         height: 100%;
        }
    }

    //@include center-container-pY($mainContainer, 80px);


    .box_video {
        height: 600px;
        width: 100%;
        margin: 0 auto;
        background-color: grey;

        .banner_video { 
            height: 600px;
            width: 100%;
            object-fit: cover;
        }
    }
}