header {
    
    
    nav {
        height: 80px;
        padding: 5px 0px;
        background-color: $primary;
        background-image: url('../storage/images/pattern.png');
        background-size: contain;
    

        & > div.container {
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    nav.transparent{
        background-image: none;
        background-color: transparent;
        position: absolute;
        z-index: 25;
        width: 100%;
        height: 120px;

        .container{
            width:90%;

            .nav_logo{
                height:100%;
            }
        }
        .hamburger__menu{
            display: none;
            font-size: 30px;
            color: white;
            &:hover{
                color: $complementare;
                cursor: pointer;
            }
        }
        @media screen and (max-width:900px){
            .hamburger__menu{
                display: block;
                align-self: center;
            }
            .nav_login{
                display: none;
            }
            .nav_login.dropdown__menu{
                display: flex;
                position: absolute;
                left: calc(100% - 100px);
                & > li{
                    flex-direction: column;
                    position: absolute;
                    background: rgba(33,105,124,0.4);
                    padding: 10px;
                    border-radius: 5px;
                    bottom: -120px;
                    a{
                        font-size: $fontBig;
                        margin: 5px 0;
                    }
                }
            }
        }

    }

    .nav_logo {
        height: 100%;
        align-items: center;

        & img {
            height: 100%;
        }

        & i{
            color: white;
            font-size: $fontMax;

            &:hover{
                color: $complementare;
            }
        }

       
    }

    .nav_login {

         & li a {
         color: $secondary;  
         font-size: $fontBig; 
         text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
         height: 100%;
        }

        .nav_link:hover, .user_link:hover{
            color: $complementare;
        }

  
    }


    .box_video {
        height: 600px;
        width: 100%;
        margin: 0 auto;
        background-color: grey;

        .banner_video { 
            height: 600px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }
}