
h1{
    color:$primary;
    font-size: $fontTitle;
}

h2{
    color: $secondary;
    font-size: $fontMax;
}


*.main_container{
    width:95%;
    margin: auto;

    //TYPO
  

    & .mosaic_container{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: $layover;
        border-radius: 20px;
        padding: 25px;
        justify-content: center;
        
        & > .category_card{
            flex-basis: 50% - 8;
            height: 250px;
            // background-color:$primary;
            margin: 4px;
                        
            &.catPizza{
                background-image: url('../storage/images/pizza.jpg');
                background-size: cover;
            }
            &.catSushi{
                background-image: url('../storage/images/sushi.jpg');
                background-size: cover;
            }
            &.catHamburger{
                background-image: url('../storage/images/hamburger.jpg');
                background-size: cover;
            }
            &.catGelato{
                background-image: url('../storage/images/gelato.jpg');
                background-size: cover;
                background-position: center;
            }
            &.catCinese{
                background-image: url('../storage/images/cinese.jpg');
                background-size: cover;
            }
            &.catMessicano{
                background-image: url('../storage/images/messicano.jpg');
                background-size: cover;
            }

            &:hover{
            cursor:pointer;
            filter: grayscale(25%)
            }
            
        }

        @media only screen and (max-width: 900px) {
            & > .category_card{
                flex-basis: 80%;
            }
        }


    }

}

section#restaurants{
    background-color: $primary;
    padding: 50px 0;
    margin: 50px 0;

    & .main-container{
        width: 95%;
        margin: auto;

        & .restaurant-container{
            width:100%;
            margin: auto;
            flex-wrap: wrap;
            justify-content: center;
    
            & .restaurant-card{
                flex-basis: calc(50% - 20px);
                background-color: white;
                height: 200px;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
            }
        }
    
    }

    

}
