
.card_custom{
    min-width: calc((100% / 3) - 30px);
    max-width: calc((100% / 3) - 30px );  


    //mediaquery per visualizzazione card a laptop
    @media screen and (max-width: 1024px) {
        
        min-width: calc((100% / 2) - 30px);
        max-width: calc((100% / 2) - 30px ); 

    }

    //mediaquery per visualizzazione card a mobile
    @media screen and (max-width: 704px) {
        
        min-width: 100%;
        max-width: 100%; 

    }    

    img{
        height:250px;
        object-fit: cover;
        object-position: top;
    }
}

h1.dash_title{
    color: $primary;
    font-size: $fontTitle;
    font-weight: $fontBold;
}

.btn_delete{
    background-color: $secondary;
    color: $primary;

    &:hover{
        color: white;
        background-color: $accent_2;
    }
}

.btn_custom{
    background-color: $primary;
    color: white;

    &:hover{
        color: white;  
        background-color: $complementare;
    }
}

.type_tag{
    font-size: $fontSmall;
    color: white;
    padding: 8px 10px;
    background-color: $complementare;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
    margin: 4px 3px;
}

.yes_icon{
    font-size: $fontReg;
    color: $accent_1;
}

.no_icon{
    font-size: $fontReg;
    color: $accent_2;
}