
.card_custom{
    min-width: calc((100% / 3) - 30px);
    max-width: calc((100% / 3) - 30px );  
}

h1.dash_title{
    color: $primary;
    font-size: $fontTitle;
}

.btn_delete{
    background-color: $secondary;
    color: white;
}

.btn_custom{
    background-color: $primary;
    color: white;
}