
.container_success{
    min-height: calc(100vh - 320px);


    .success_title{
        font-size: 80px;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 40px;
        }
    }
    
    .link_box{
        justify-content: center;
    }
    
    .link_success{
        font-size: $fontBig;
        color: $primary;
    
        &:hover{
            color:$complementare;
        }
    }
}

