// Reset 
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }


    .debug * {
    border: 1px blue solid;
}

main{
    //flex-basis: 100%;
    min-height: calc(100vh - 332px);
}

ul {
    list-style: none;
}

body {
    font-family: 'Martel Sans', sans-serif;
    //display: flex;
    //flex-direction: column;
}

.container {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.blue_text{
    color: $primary;
}

.btn_custom{
    background-color: $primary;
    color: white;

    &:hover{
        color: white;  
        background-color: $complementare;
    }
}
